*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
img{
  
    border-radius: 100%;
    align-self: center;
}

img:hover{
   /* border: 4px solid lightblue;*/
    cursor: pointer;
}

#planets{
    display: flex;
    /*justify-content: space-between;*/
    width: 95%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

#choosePlanet{
    display: none;
    justify-content: space-evenly;
    width: 600px;
    height: 100px;
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translateY(-50%);
}

#sun{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height:auto;
}

#mercury{
    position: absolute;
    left: CALC(50% + 100px + 2px + 50px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 4px;
}

#venus{
    position: absolute;
    left: CALC(50% + 100px + 6px + 100px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
}

#earth{
    position: absolute;
    left: CALC(50% + 100px + 6px + 150px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
}

#mars{
    position: absolute;
    left: CALC(50% + 100px + 3px + 220px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 6px;
}

#jupiter{
    position: absolute;
    left: CALC(50% + 100px + 20px + 770px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
}

#saturn{
    position: absolute;
    left: CALC(50% + 100px + 30px + 1420px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
}

#uranus{
    position: absolute;
    left: CALC(50% + 100px + 10px + 2800px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    
}

#neptun{
    position: absolute;
    left: CALC(50% + 100px + 10px + 4500px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
}

#pluto{
    position: absolute;
    left: CALC(50% + 100px + 1.5px + 5960px);
    top: 50%;
    transform: translate(-50%,-50%);
    width: 3px;
}

.choose{
    height:50px;
    width: 50px;
    padding: 5px;
}

.choose.saturn{
    width: 80px;
}

.grey{
    filter: saturate(0%)
}


