/*
.planet:hover{
    border: 4px solid lightblue;
    cursor: pointer;
 }*/
/**
 * Variables.
 */
/**
 * Styling.
 */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.galaxy {
  position: relative;
  width: 100%;
  height: 100%;
}

.solarSystem {
  position: absolute;
  width: 100%;
  height: 100%;
}

/**
* Orbit styles.
 */
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation-name: animate--orbit;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.orbit--mercury {
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  animation-duration: 11.9778905935s;
}

.orbit--venus {
  width: 450px;
  height: 450px;
  margin-top: -225px;
  margin-left: -225px;
  animation-duration: 30.7592230442s;
}

.orbit--earth {
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  animation-duration: 50s;
}

.orbit--mars {
  width: 550px;
  height: 550px;
  margin-top: -275px;
  margin-left: -275px;
  animation-duration: 94.0435524315s;
}

.orbit--jupiter {
  width: 650px;
  height: 650px;
  margin-top: -325px;
  margin-left: -325px;
  animation-duration: 592.8713618355s;
}

.orbit--saturn {
  width: 820px;
  height: 820px;
  margin-top: -410px;
  margin-left: -410px;
  animation-duration: 1471.1587452427s;
}

.orbit--uranus {
  width: 950px;
  height: 950px;
  margin-top: -475px;
  margin-left: -475px;
  animation-duration: 4187.3336613222s;
}

.orbit--neptune {
  width: 1100px;
  height: 1100px;
  margin-top: -550px;
  margin-left: -550px;
  animation-duration: 8186.3064374249s;
}

.orbit--moon {
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
  animation-duration: 3.740058693s;
}

.orbit--moon {
  animation-name: animate--orbit;
}

/**
 * Planet styles.
 */
.sun,
.planet,
.moon {
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.sun {
  width: 350px;
  height: 350px;
  margin-top: -175px;
  margin-left: -175px;
  background-image: url("source/sun.png");
}

.moon {
  left: -0.25px;
  width: 0.5px;
  height: 0.5px;
  background: #ccc;
  animation-name: animate--planet;
  animation-duration: 3.740058693s;
}

.planet--mercury {
  left: -0.5px;
  width: 1px;
  height: 1px;
  background-image: url("source/mercury.png");
  animation-name: animate--planet;
  animation-duration: 11.9778905935s;
}

.planet--venus {
  left: -1.5px;
  width: 3px;
  height: 3px;
  background-image: url("source/venus.png");
  animation-name: animate--planet;
  animation-duration: 30.7592230442s;
}

.planet--earth {
  left: -1.5px;
  width: 3px;
  height: 3px;
  background-image: url("source/earth.png");
  animation-name: animate--planet;
  animation-duration: 50s;
}

.planet--mars {
  left: -0.75px;
  width: 1.5px;
  height: 1.5px;
  background-image: url("source/mars.png");
  animation-name: animate--planet;
  animation-duration: 94.0435524315s;
}

.planet--jupiter {
  left: -17.5px;
  width: 35px;
  height: 35px;
  background-image: url("source/jupiter.png");
  animation-name: animate--planet;
  animation-duration: 592.8713618355s;
}

.planet--saturn {
  left: -15px;
  width: 30px;
  height: 30px;
  background-image: url("source/saturn.png");
  animation-name: animate--planet;
  animation-duration: 1471.1587452427s;
}

.planet--uranus {
  left: -4.5px;
  width: 9px;
  height: 9px;
  background-image: url("source/uranus.png");
  animation-name: animate--planet;
  animation-duration: 4187.3336613222s;
}

.planet--neptune {
  left: -4.5px;
  width: 9px;
  height: 9px;
  background-image: url("source/neptun.png");
  animation-name: animate--planet;
  animation-duration: 8186.3064374249s;
}

.planet--saturn::before, .planet--saturn::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}
.planet--saturn::before {
  top: -12px;
  left: -12px;
  width: 49px;
  height: 49px;
  border: 2px solid rgba(160, 147, 130, 0.5);
}
.planet--saturn::after {
  top: -7.6px;
  left: -7.6px;
  width: 35px;
  height: 35px;
  border: 5px solid rgba(160, 147, 130, 0.7);
}

/**
 * Animations.
*/
@keyframes animate--orbit {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes animate--suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(-360deg);
  }
}

/*# sourceMappingURL=size.css.map */
